<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header class="p-3 bg-dark text-bg-dark" th:fragment="header">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none navbar-brand">
        Minecraft Booble Besaba
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 text-white">Домашняя страница</a></li>
        <li><a href="/posts/new" class="nav-link px-2 text-white">Создать пост</a></li>
      </ul>

      <div class="text-end">
        <a href="/login" type="button" class="btn btn-outline-light me-2">Войти</a>
        <a href="/register" type="button" class="btn btn-warning">Зарегистрироваться</a>
      </div>
    </div>
  </div>
</header>
</body>
</html>