<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="card mt-2" th:fragment="post">
  <div class="card-body">
    <h2 class="card-title">Post title</h2>
    <p class="card-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad asperiores assumenda atque aut
      autem dolor dolore dolorum eius eveniet exercitationem facere in laboriosam laborum magnam, nostrum odio odit
      officia porro provident quidem quod rem rerum sapiente soluta suscipit totam voluptas. Consequuntur dolores
      labore non. Beatae cumque eum hic porro rerum.
    </p>
  </div>
</div>
</body>
</html>